# 0- TITANIC
###### Damián Rodríguez Gómez

EL proyecto de Titanic, está compuesto por 2 bases de datos, y el objetivo principal es: "Predecir la supervivenvia del Titanic"

#### Índice

###### 1-Importar librerias.
###### 2-Entender los datos.
###### 3-Preprocesamiento de los datos.
###### 4-Aplicación de algoritmos de Machine Learning.
###### 5-Predicción utilizando los modelos.

##### Variables del proyecto: 

- Passengerld: Id único del pasajero.
- Survived: Supeviviente {0:NO, 1:SI}.
- Pclass: Clase de Billete.
- Name: Nombres.
- Sex: Género.
- Age: Edad.
- SibSp: Cónyuges a bordo.
- Parch: Nº de Pais.
- Ticket: Nº del billete.
- Fare: Tarifa de los pasajeros.
- Cabin: Nº de Cabina.
- Embarked: Puerto de Embarcación.

In [2]:
#1 Importamos todas las librerias necesarias

import numpy as np
import pandas as pd
import random as rnd
from matplotlib import pyplot as plt
import warnings

In [ ]:
#2.1 Importamos los datos y los intentamos entender:

df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

print(df_train.head())
print(' ')
print(df_test.head())

In [13]:
#2.2 Vamos a verificar la cantidad de datos que hay en el dataset.

print('Cantidad de datos:')
print(df_train.shape)
print(df_test.shape)

Cantidad de datos:
(891, 12)
(418, 11)

In [14]:
#2.3 Verifico el tipo de datos contenidos en ambos dataset.

print('Tipos de datos:')
print(df_train.info())
print(df_test.info())

Tipos de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [15]:
#2.4 Verifico los datos faltantes del dataset.
print('Datos faltantes:')
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

Datos faltantes:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [16]:
#2.4 Verifico las estadísticas del Dataset.

print('Estadística del Dataset:')
print(df_train.describe())
print(df_test.describe())

Estadística del Dataset:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [18]:
#3.1 Cambio los datos de 'Sexo' en números:

df_train['Sex'].replace(['female','male'],[0,1],inplace=True)
df_test['Sex'].replace(['female','male'],[0,1],inplace=True)

In [19]:
#3.2 Cambio los datos de 'Embarque' en números:
df_train['Embarked'].replace(['Q','S','C'],[0,1,2],inplace=True)
df_test['Embarked'].replace(['Q','S','C'],[0,1,2],inplace=True)

In [26]:
#3.3 Reemplazo los datos faltantes en la edad por la media de esta columna:
print(df_train['Age'].mean())
print(df_test['Age'].mean())
promedio=30
df_train['Age'] = df_train['Age'].replace(np.nan, promedio)
df_test['Age'] = df_test['Age'].replace(np.nan, promedio)

29.758888888888887
30.216507177033492

In [27]:
#3.4 Creo varios grupos de acuerdo a bandas de las edades:
#3.4.1 Bandas:0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 61-100
bins = [0, 8, 15, 18, 25, 40, 60, 100]
names = ['1', '2', '3', '4', '5', '6', '7']
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)

In [28]:
#3.5 Se elimina la columna de 'Cabin' ya que tiene muchos datos perdidos
df_train.drop(['Cabin'], axis = 1, inplace=True)
df_test.drop(['Cabin'], axis = 1, inplace=True)

In [ ]:
#3.6 ELimino las columnas que considero que no son necesarias para el análisis. 
df_train = df_train.drop(['PassengerId','Name','Ticket'], axis=1)
df_test = df_test.drop(['Name','Ticket'], axis=1)

In [31]:
#3.6 Elimino las filas con los datos perdidos:
df_train.dropna(axis=0, how='any', inplace=True)
df_test.dropna(axis=0, how='any', inplace=True)

In [33]:
#3.7 Verifico los datos, que esten correctos:
print('Datos faltantes:')
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())
print('Cantidad de datos:')
print(df_train.shape)
print(df_test.shape)
print('Head')
print(df_train.head())
print(' ')
print(df_test.head())

Datos faltantes:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
Cantidad de datos:
(889, 8)
(417, 8)
Head
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1

In [ ]:
#4.1 Separo la columna con la información de los sobrevivientes:

In [ ]:
#4.2 Separo los datos 'train' en entrenamiento y prueba para probar algoritmos:

In [ ]:
#4.3 Regresión Logística:

In [ ]:
#4.4 Support Vector Machines:

In [ ]:
#4.5 K neighbors

In [ ]:
#5.1